#toast-container > .toast {
    background-color: #030303;
}
#toast-container >   .toast-success {
    background-color: #51a351;
}
#toast-container > .toast-error {
    background-color: #bd362f;
}
#toast-container > .toast-info {
    background-color: #2f96b4;
}
#toast-container > .toast-wait {
    background-color: #2f96b4;
}
#toast-container > .toast-warning {
    background-color: #f89406;
}